<?php
return [
    'settings' => [
        'displayErrorDetails' => true, // set to false in production
 
        "db" => [
            "host" => "{{ db_host }}",
            "dbname" => "foremanbroker",
            "user" => "{{ db_user }}",
            "pass" => "{{ db_password }}"
        ],
        "foreman" => [
             "host" => "{{ foreman_host }}",
             "user" => "admin",
             "pass" => "{{ foreman_password }}"
        ],
    ],
];
